# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
### Assignment 1: Creating and Accessing Tuples

## Create a tuple with the first 10 positive integers. Print the tuple.

new_tuple = tuple(range(11))
print(new_tuple)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
### Assignment 2: Accessing Tuple Elements

### Print the first, middle, and last elements of the tuple created in Assignment 1.
first, *middle, last = new_tuple
print(first)
print(middle)
print(last)

0
[1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [7]:
### Assignment 3: Tuple Slicing

### Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(new_tuple[0:3]) # first three elements
print(new_tuple[-3:]) # last three elements
print(new_tuple[2:6]) # index 2 to 5

(0, 1, 2)
(8, 9, 10)
(2, 3, 4, 5)

In [10]:
### Assignment 4: Nested Tuples

### Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix_tuple = (
                [1, 2, 3],
                [4, 5, 6],
                [7, 8, 9])
print(matrix_tuple[1][2]) # second row and third column

6

In [11]:
### Assignment 5: Tuple Concatenation

### Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)
concat_tuple = tuple_1 + tuple_2
concat_tuple

(1, 2, 3, 4, 5, 6)

In [12]:
### Assignment 6: Tuple Methods

### Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

tuple_example = tuple([1, 2, 2, 3, 4, 5])

print(tuple_example.index(5))
print(tuple_example.count(2))

5
2

In [14]:
### Assignment 7: Unpacking Tuples

### Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
quin_tuple = (1, 2, 3, 4, 5)
a,b,c,d,e = quin_tuple
print(a)

1

In [17]:
### Assignment 8: Tuple Conversion

### Convert a list of the first 5 positive integers to a tuple. Print the tuple.

tup_ = list(range(1,6))
tup_ = tuple(tup_)
print(type(tup_))

<class 'tuple'>

In [18]:
### Assignment 9: Tuple of Tuples

### Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tup_of_tuples = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tup_of_tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [24]:
### Assignment 10: Tuple and List

###  Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup_value = tuple(range(1, 6))
list_value = list(tup_value)
list_value.append(6)
new_value = tuple(list_value)
print(new_value)

(1, 2, 3, 4, 5, 6)

In [25]:
### Assignment 11: Tuple and String

### Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
string_tuple = ('a', 'b', 'l', 'e')
str_value = "".join(string_tuple)
print(str_value)

able

In [26]:
### Assignment 12: Tuple and Dictionary

### Create a dictionary with tuple keys and integer values. Print the dictionary.
dict_of_tuples = {
    ('age') : 32,
    ('IQ') : 200
}
for key, values in dict_of_tuples.items():
    print(f"{key}:{values}")

age:32
IQ:200

In [29]:
### Assignment 13: Nested Tuple Iteration

### Create a nested tuple and iterate over the elements, printing each element.

nested_tuple = (
    (1, 2, 3, 4, 5),
    ('a', 'b', 'c', 'd', 'e')
    )

for val in  nested_tuple:
    for items in val:
        print(items, end=" ")

1 2 3 4 5 a b c d e

In [30]:
### Assignment 14: Tuple and Set

### Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tuple_values = (1, 2, 3, 4, 5, 6, 7, 8, 6, 3, 5, 7, 9)
unique_values = set(tuple_values)
print(unique_values)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
### Assignment 15: Tuple Functions

### Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def tuple_calulcation(tup: tuple) -> int:
    maximum = max(tup)
    minimum = min(tup)
    total = sum(tup)
    return maximum, minimum, total

result = tuple_calulcation(tuple_values)

print(f'The maximum, minimum and total of the tuple values: {result}')

The maximum, minimum and total oof the tuple values: (9, 1, 66)